@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    align-items: center;
    background-color: #143157;
    border: none;
    box-sizing: border-box;
    color: #374151;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 70px;
    height: 100px;
}
